.play_page_playback_frame {

    width: 90vw;
    height: 25px;
    background-color: #eaeaea;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(71, 71, 71, 0.2);
    position: absolute;
    z-index: 700;
    top: calc(100% - 130px);

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    transition: transform 0.1s ease;

}
.play_page_playback_frame input {
    position: absolute;
    z-index: 720;
    width: 100%;
    background: transparent; /* 隐藏背景 */
    opacity: 0; /* 完全隐藏滑块 */
    height: 100%; /* 让滑块可以响应点击 */
    z-index: 10; /* 确保滑块在最上层 */
}
.play_page_playback_frame input::-webkit-slider-runnable-track {
    /* 隐藏滑块背景 */
    background: transparent;
    border: none;
}
.play_page_playback_frame input::-webkit-slider-thumb {
    /* 隐藏滑块thumb的默认样式 */
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}
.play_page_playback_frame p {
    
    font-weight: 450;
    font-size: 10px;
    color: rgb(100, 100, 100);
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    z-index: 710; /* 确保时间显示在最上层 */
    
}

#play_page_playback_screen {
    position: absolute;
    z-index: 705;
    width: 50%; /* 初始宽度为0 */
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 50px;
    transition: width 0.05s ease; /* 添加过渡效果 */
}