.play_controller {

    position: absolute;
    z-index: 700;
    width: 90vw;
    height: 100px;
    top: calc(100% - 260px);
    left: 5vw;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

#btn_play {

    width: 100px;
    height: 100px;
    background-color: #eaeaea;
    border-radius: 300px;
    border: none;
    cursor: pointer;
    outline: none;

    transition: transform 0.1s ease;

}
#btn_play:active {
    transform: scale(0.9);
}

#btn_last {

    width: 75px;
    height: 75px;
    background-color: #eaeaea;
    border-radius: 300px;
    border: none;
    cursor: pointer;
    outline: none;

    transition: transform 0.1s ease;

}
#btn_last:active {
    transform: scale(0.9);
}

#btn_next {

    width: 75px;
    height: 75px;
    background-color: #eaeaea;
    border-radius: 300px;
    border: none;
    cursor: pointer;
    outline: none;

    transition: transform 0.1s ease;

}
#btn_next:active {
    transform: scale(0.9);
}