#album_display {
    
    width: 90vw;
    aspect-ratio: 1;
    background-color: #eaeaea;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 25px;

    overflow: hidden;
    
}
#album_display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}