#back {

    width: 50px;
    height: 50px;
    border: none;
    background-color: #ffffff;
    background-image: url(../img/back.svg);
    background-size: cover;
    border-radius: 50px;
    cursor: pointer;

    position: absolute;
    z-index: 900;
    top: 25px;
    left: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    /* 确保按钮可以正确缩放 */
    transform: scale(1);
    transition: transform 0.1s ease;
    
}
#back:active {
    transform: scale(0.8);
}
#back img {
    width: 100%;
    height: 100%;
}