.list_gui {
    width: 90%;
    height: auto;
    overflow-y: auto;
}
/* 隐藏滚动条 */
.list_gui::-webkit-scrollbar {
    width: 0px; /* 设置滚动条宽度为0，隐藏滚动条 */
}

.list {
    width: 100%;
    height: auto;
}
.list button {
    
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #eaeaea;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;

    /* 确保按钮可以正确缩放 */
    transform: scale(1);
    transition: transform 0.1s ease;

}
.list button:active {
    transform: scale(0.9);

}
.list button img {
    width: 35px;
    height: 35px;
    margin-left: 15px;
    margin-right: 15px;
}
.list button p {
    font-weight: 450;
    font-size: 15px;
    color: #fff;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.local_add_gui {

    width: 100%;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.local_add_gui p {
    font-weight: 450;
    font-size: 15px;
    color: #eaeaea;
}

.local_add_gui button {

    width: 75px;
    height: 75px;
    border: none;
    background-color: transparent;
    background-image: url(../img/add.svg);
    background-size: cover;
    cursor: pointer;
    
    /* 确保按钮可以正确缩放 */
    transform: scale(1);
    transition: transform 0.1s ease;
    
}
#local_add:active {
    transform: scale(0.9);
}
