.page {
    position: fixed;
    z-index: 899;
    top: 0;
    left: 0;
    height: calc(100vh - 100px);
    width: auto;
    display: flex;
    transition: transform 0.3s ease; /* 添加过渡效果 */
}

.page > div {
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* 播放页面初始位置 */
.page.play-active {
    transform: translateX(0);
}

/* 个人中心页面位置 */
.page.owner-active {
    transform: translateX(-100vw);
}
.page.local-active {
    transform: translateX(-200vw);
}
.page.favourite-active {
    transform: translateX(-300vw);
}

.play_controller {

    width: calc(100vw - 25px);
    height: 150px;
    margin-top: 85px;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}