.song_bar {

    width: 90vw;
    height: 150px;
    border-radius: 25px;
    background-color: #eaeaea;
    margin-top: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: transform 0.1s ease;

}
.song_bar:active {
    transform: scale(0.9);
}

.song_bar_img {

    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.song_bar_text {

    width: 100%;
    height: 25px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}
.song_bar_text p {
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}