.welcome {

    width: 100%;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.welcome img {
    width: 75px;
    height: 75px;
}
.welcome p {
    font-weight: 450;
    font-size: 12px;
    color: rgb(170, 170, 170);
    white-space: nowrap;
    margin: 0;
    padding: 0;
}