#main_gui {

    position: fixed;
    z-index: 700;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /* border: 1px solid #000000; */

    display: flex;

    translate: all 0.3s ease;

}
#main_gui iframe {
    width: 100%;
    height: 100%;
    border: none;
}